@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,200;1,300;1,400;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(128, 128, 128, 0.6);
}

header{
    width: 70%;
    height: auto;
    border: 1px solid #000;
    margin: auto;
    background: #fff;
}

header nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

/* header nav h5 span{
    color: orangered;
} */

header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li{
  padding: 3px 0px 3px 30px;
  list-style: none;
}

header nav ul li a{
    text-decoration: none;    
    font-size: 13px;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.7);
    transition: 0.3s linear;
}

header nav ul li a:hover{
    color: rgb(0, 0, 0);
}

header nav ul li a ion-icon{
    margin-right: 3px;
    font-size: 22px;
    margin-bottom: -5px;
}

header .brandNav{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 0px 30px ;
}

header .brandNav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    transition: 0.3s linear;
}

header .brandNav ul li{
    position: relative;    
    transition: 0.3s linear;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .brandNav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(193, 193, 193, 0.5);   
    transition: 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .brandNav ul li a:hover{
    color: rgb(193, 193, 193);
}

header .brandNav ul li ion-icon{
    font-size: 22px;
    margin-bottom: -5px;
    margin-left: 6px;
    transition: 0.3s linear;
}

header .brandNav ul li:nth-last-child(1) ion-icon{
    color: orangered;
}

header .brandNav ul li img{
    width: 60px;
}

header .brandNav ul li:nth-child(2){
    background: orangered;
    width: 130px;
}

header .brandNav ul li:nth-child(4){
    width: 130px;
}


header .brandNav ul li:nth-child(2):hover{
    background: orangered;
}

header .brandNav ul li:nth-child(4):hover{
    background: orangered;
}

header .brandNav ul li:nth-child(1) .selectBox{
    position: absolute;
    top: 100%;
    width: 90px;
}