@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,200;1,300;1,400;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Custom properties */
:root {
  --dark-color: black;
  --light-color: #fff;
  --main-color: rgb(0,78,141);
  --secondary-color: rgb(252,196,55);
  --alternate: rgb(223,192,163);
  --alternate1: rgb(100,186,236);
  --primary-background-color: rgb(2,42,102);
  --secondary-background-color: rgb(28,28,28);
  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  --font-family: "Poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

/* Theme color change */
/* body.light-theme {
  --light-color: #3d3d3d;
  --light-color-alt: rgba(0, 0, 0, 0.6);
  --primary-background-color: rgb(239, 238, 238);
  --secondary-background-color: #dcdcdcd8;
  --hover-light-color: #fff;
  --transparent-dark-color: var(--secondary-background-color);
  --transparent-light-color: rgba(0, 0, 0, 0.1);
} */

body{
    font-family: 'Poppins', sans-serif;
    background: var(--primary-background-color);
}

header{
    width: 90%;
    height: auto;
    /* border: 1px solid #000; */
    margin: auto;
    background: #fff;
}

header nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header nav img{
  height: 90px;
  margin-right: -15px;
}

header nav .logoBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header nav .logoBox h3{
  color: var(--secondary-color);
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li{
  padding: 3px 0px 3px 30px;
  list-style: none;
}

header nav ul .carty{
  padding: 3px 0px 3px 30px;
}

header nav ul li a{
    text-decoration: none;    
    font-size: 13px;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.7);
    transition: 0.3s linear;
}

header nav ul li a:hover{
    color: rgb(0, 0, 0);
}

header nav ul li a i{
    margin-right: 3px;
    font-size: 18px;
    margin-top: 5px;
}

header .brandNav{
    width: 100%;
    height: 50px;
    background-color: var(--alternate1);
    color: #fff;
  
}

header .brandNav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    transition: 0.3s linear;
    padding: 0px 30px ;
}



header .brandNav ul li{
    position: relative;    
    transition: 0.3s linear;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header 

.cartAmount{
  font-size: 16px;
  background-color: var(--main-color);
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

header .brandNav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: var(--dark-color);   
    transition: 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .brandNav ul li a:hover{
    color: rgb(193, 193, 193);
}

header .brandNav ul li ion-icon{
    font-size: 32px;
    margin-bottom: 0px;
    margin-left: 6px;
    transition: 0.3s linear;
}

header .brandNav ul li:nth-last-child(1) ion-icon{
    color: var(--main-color);
}

header .brandNav ul li img{
    width: 60px;
}

header .brandNav ul li:nth-child(2){
    background: var(--main-color);
    width: 130px;
}

header .brandNav ul li:nth-child(4){
    width: 130px;
}


header .brandNav ul li:nth-child(2):hover{
    background: var(--main-color);
}

header .brandNav ul li:nth-child(4):hover{
    background: var(--main-color);
}

header .brandNav ul li:nth-child(1) .selectBox{
    position: absolute;
    top: 100%;
    width: 90px;
    height: 0px;
    opacity: 0;
    background: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    z-index: 99999999;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5);
    overflow: hidden;
    transition: 1s linear;
}

header .brandNav ul li:nth-child(1) .selectBox h5{
    padding: 5px 0px;
}

header .brandNav ul li:nth-child(1) .selectBox_active{
    height: 100px;
    opacity: 1;
}

header .brandNav .listBox{
    width: 100%;
    height: auto;
    background: var(--main-color);
    padding: 8px 0px;
}

header .brandNav .listBox li{
   color: var(--dark-color);
   font-size: 12px;
   transition: 0.3s linear;
   cursor: pointer;
}

header .brandNav .listBox li:hover{
    color: rgb(0, 0, 0, 0.8);
}

/*  */
section{
    width: 90%;
    height: auto;
    display: flex;
    margin: 36px auto 0px auto;
    background: #fff;
}

section aside, .productsBox{
    width: 82%;
    height: auto;
}

section aside{
    width: 18%;
}

section .productsBox{
    padding: 0px 30px;
}

section .productsBox nav{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

section .productsBox nav h5 ion-icon{
    margin:  0 3px -3px 3px;
}

section .productsBox nav h5 span{
    color: grey;
}

section .productsBox section{
    width: 100%;
    height: 40px;
    margin: 0;
    margin-top: 15px;
}

section .productsBox section .sortTitle{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .productsBox section .sortTitle h4{
    font-weight: 600;
}

section .productsBox section .sortTitle .sortSelect{
   position: relative;
}

section .productsBox section .sortTitle button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6px 0px;
  width: 150px;
  border-radius: 2px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

section .productsBox section .sortTitle .sortSelect button ion-icon{
   font-size: 15px;
   color: grey;
}

section .productsBox section .sortTitle .sortSelect .sortOptions{
    position: absolute;
    width: 150px;
    height: 0px;
    opacity: 0;
    padding: 5px 10px 10px 10px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: 0.3s linear;
}

section .productsBox section .sortTitle .sortSelect .sortOptions li{
    list-style: none;
    padding: 5px 0px;
    background: rgb(0, 0, 0, 0.1);
    margin-top: 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s linear;
}

section .productsBox section .sortTitle .sortSelect .sortOptions li:hover{
    background: #000;
    color: #fff;
}

section .productsBox section .sortTitle .sortSelect .sortOptions_active{
    height: 150px;
    opacity: 1;
    z-index: 99999999999999;
}

section .productsBox .mainProArea{
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

section .productsBox .mainProArea .itemCard{
    position: relative;
    width: 170px;
    height: 250px;
    /* border: 1px solid black; */
    margin: 5px 5px 25px 0;
    text-decoration: none;
    transition: 0.3s linear;
    padding: 5px 10px;
}

section .productsBox .mainProArea .itemCard:hover{
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
    border-radius: 5px;
}

section .productsBox .mainProArea .itemCard img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

section .productsBox .mainProArea .itemCard .cardTitle{
    font-size: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}

section .productsBox .mainProArea .itemCard p{
    font-size: 11px;
    font-weight: 500;
    color: gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section .productsBox .mainProArea .itemCard .itemPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

section .productsBox .mainProArea .itemCard .itemPrice h5{
    color: #000;
    font-size: 11px;
}

section .productsBox .mainProArea .itemCard .itemPrice h5:nth-child(2){
    color: gray;
    font-size: 10px;
}

section .productsBox .mainProArea .itemCard .colorTag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}

section .productsBox .mainProArea .itemCard .colorTag .stars{
    font-size: 14px;
    color: goldenrod;
}

section .productsBox .mainProArea .itemCard .colorTag button{
    background: var(--main-color);
    color: #fff;
    border: none;
    padding: 2px 8px;
    margin-top: 3px;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

section .productsBox .mainProArea .itemCard .colorTag button:hover{
    color: var(--main-color);
    background: rgb(202, 202, 202);
    border: 1px solid var(--main-color);
}

section .productsBox .pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0px 30px 0px;
}

section .productsBox .pagination a{
  width: 20%;
  padding: 8px 0px;
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0, 0.1);
  font-size: 12px;
  text-align: center;
  transition: 0.3s linear;
}

section .productsBox .pagination a:hover{
  color: #fff;
  background: var(--main-color);
}

section .productsBox .pagination h6{
  width: 40%;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding: 8px 0px;
  color: var(--main-color);
}

section .productsBox .pagination ion-icon{
  font-size: 16px;
  color: #000;
  margin-bottom: -3px;
}

section .productsBox .pagination ion-icon:hover{
  font-size: 16px;
  color: #ffffff;
}

section aside{
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}

section aside .filterArea {
  width: 250px;
  height: 100vh;
  background: rgb(0, 0, 0, 0.1);
  padding: 10px;
}

section aside .filterArea .filter{
  font-size: 12.8px;
}

section aside .filterArea .productItems {
  font-size: 12px;
  margin-top: 3px;
}

section aside .itemsCheck{
  width: 100%;
  height: auto;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  margin-top: 10px;
}

section aside .filterArea .clothesChecked{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 8px;
  margin: 10px 0px;
  background: #000;
  color: var(--secondary-color);
}

section aside .filterArea .itemsCheck_off{
  background: none;
  color: #000;
}

section aside .filterArea .itemsCheck li{
  width: 90%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  font-size: 12px;
  font-weight: 500;
}

section aside .filterArea .itemsCheck li i{
  font-size: 14px;
  transition: 0.3s linear;
  cursor: pointer;
}

section aside .filterArea .itemsCheck li i:hover{
  color: var(--main-color);
}

section aside .filterArea .itemsCheck li .i_active{
  color: var(--main-color);
} 

section aside .filterArea .itemsCheck .priceInput{
  position: relative;
  display: flex;
  align-items: center;
}

section aside .filterArea .itemsCheck .priceInput{
  position: relative;
  display: flex;
  align-items: center;
}

section aside .filterArea .itemsCheck .priceInput::before{
 content: "";
 position: absolute;
 width: 88%;
 height: 3px;
 background: rgb(0, 0, 0, 0.3);
 top: 11px;
 left: 0;
}

section aside .filterArea .itemsCheck .priceInput .priceInput1{
 position: relative;
 width: 44%;
}

section aside .filterArea .itemsCheck .priceInput .priceInput1 input{
  z-index: 99999999999999999;
  opacity: 0;
  cursor: pointer;
  width: 100%;
}

section aside .filterArea .itemsCheck .priceInput .priceInput1 i{
 position: absolute;
 top: 0px;
 left: 0%;
 transition: 1s linear;
}

section aside .filterArea .itemsCheck .priceInput .priceInput1:nth-child(2) i{
  left: 100%;
}

section aside .filterArea .itemsCheck .prices{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

section aside .filterArea .itemsCheck .prices h6{
  border: 1px solid rgb(0, 0, 0, 0.3);
  padding: 3px 12px;
  color: rgb(0, 0, 0, 0.8);
}

section aside .filterArea .itemsCheck .sizesBox{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section aside .filterArea .itemsCheck .sizesBox h6{
  border: 1px solid rgb(0, 0, 0, 0.7);
  color: rgb(0, 0, 0, 0.7);
  padding: 5px 7px;
  margin: 5px;
  cursor: pointer;
}

section aside .filterArea .itemsCheck .sizesBox h6:hover{
  border: 1px solid rgb(0, 0, 0, 0.7);
  color: #fff;
  background: rgb(0, 0, 0, 0.7);
}



































/* cart overlay styling */
.cartOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.5s ease-in-out;
    z-index: 2;
    visibility: hidden;
  }
  
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: white;
    z-index: 3;
    background: rgba(147, 147, 147, 0.959);
    padding: 1.5rem;
    margin-top: 2rem;
    transition: 0.5s ease-in-out;
    transform: translateX(100%);
  }
  
  .miniCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: -40px;
    margin-left: 12px;
  }
  
  .cartItem .stars ion-icon {
    color: gold;
    font-size: 14px;
  }
  
  .miniCart h2 {
    color: rgb(172, 98, 0);
  }
  
  .closeCart {
    margin-top: 12px;
    margin-right: 25px;
  }
  
  .closeCart span ion-icon {
    color: #000;
  }
  
  .overlayCartContent ion-icon {
    font-size: 22px;
  }
  
  .cartItem {
    box-shadow: 0px 2.6px 10px rgba(0, 0, 0, 0.035),
      0px 21px 80px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    background-color: rgba(0, 128, 128, 0.753);
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1rem;
    margin: 1.8rem 0.5rem;
    padding: 12px;
  }
  
  .cartItem img {
    width: 90px;
    height: 90px;
  }
  
  .cartItem h5 {
    margin: 0.5rem 0;
    letter-spacing: 1px;
  }
  
  .showCart {
    transform: translateX(0);
  }
  
  .transparentBack {
    visibility: visible;
  }
  
  .itemAmount {
    text-align: center;
    margin: -5px 0;
    color: #000;
  }
  
  .removeItem {
    color: #f60a0a;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .upBtn,
  .downBtn {
    color: rgb(163, 97, 11);
    cursor: pointer;
  }
  
  .cartFooter {
    margin-top: 2rem;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .cartFooterButton {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px 30px;
    color: rgb(235, 229, 229);
    background-color: rgb(163, 97, 11);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  
  .cartFooterButton:hover {
    background-color: rgb(235, 229, 229);
    color: rgb(163, 97, 11);
  }
  
  .checkoutButton {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px 30px;
    color: rgb(235, 229, 229);
    background-color: teal;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  
  .checkoutButton a {
    text-decoration: none;
    color: rgb(235, 229, 229);
    background-color: teal;
  }
  
  /* .checkoutButton:hover{
      background-color: rgb(235, 229, 229);
      color: teal;
    } */
  
  .cartFooter h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    border-top: #000 1px solid;
    padding-top: 4px;
    text-align: end;
  }

  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  
    .closeCart {
      font-size: 1.7rem;
      cursor: pointer;
    }
  
    .cart h2 {
      text-transform: capitalize;
      text-align: center;
      letter-spacing: 4px;
      margin-bottom: 2rem;
    }
  }